* {
    margin: 0;
    padding: 0;
}

.body {
    max-width: 39em;
    margin: 0 auto;
}

.container {
    padding: 1em;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1;
}

.text-large {
    font-size: 2em;
}

.text-small {
    font-size: 0.7em;
}

.pb-1 {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

px-2 {
    padding-inline: 4em;
}

header {
    justify-content: space-between;
    margin-block: 1.5em;
    gap: 1em;
}

ul.nav_list {
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .logo {
    font-size: 2em;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 0.8em;
}

:root {
    --link-color: #000;
}

.intro {
    display: grid;
    gap: 2em;
}



@media (min-width: 39em) {
    .intro {
        grid-template-columns: 6fr 4fr;
    }

    .flex-all-1 > * {
        flex: 1;
    }
}