* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4em;
}

.body {
    max-width: 70em;
    margin: 0 auto;
}

.container {
    padding: 1em;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1em;
}

.text-large {
    font-size: 2em;
}

.text-small {
    font-size: 0.7em;
}

.pb-1 {
    margin-bottom: 1em;
}

img {
    width: 100%;
}

px-2 {
    padding-inline: 4em;
}

header {
    justify-content: space-between;
    margin-block: 1.5em;
    gap: 1em;
}

ul.nav_list {
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .logo {
    font-size: 2em;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 0.8em;
}

:root {
    --link-color: #000;
    --accent-bg: #000;
    --accent-color: #ecbd22;
    --bg-btn: #ff5100;
    --typography: #fff;
    --typography-secondary: #ccc;
}

.new_list li {
    color: var(--typography);
    padding-block: 1em;
    border-bottom: 1px solid var(--typography-secondary);
}

.btn {
    display: inline-block;
    background-color: var(--bg-btn);
    color: var(--typography);
    padding-block: 0.4em;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-inline: 1.5em;
    margin-block: 1em;
}

.new_list li p {
    font-size: 0.8em;
    padding-top: 0.8em;
}

.new_list li:last-child {
    color: var(--typography);
    padding-block: 1em;
    border: none;
}

.new_list li p {
    color: var(--typography-secondary);
}

.color-accent {
    color: var(--accent-color);
}

.p-1 {
    padding: 1em;
}

.bg-accent {
    background-color: var(--accent-bg);
}

.intro {
    display: grid;
    gap: 1em;
}



.blog_list {
    margin-top: 2em;
}
.blog_list li img {
    width: 5em;
    height: 6em;
}

.blog_list li {
    margin-bottom: 1em;
}

.heading-num {
    color: var(--typography-secondary);
}

.heading-title {
    font-weight: bold;
    padding-block: 0.5em;
}

@media (min-width: 60em) {
    .intro {
        grid-template-columns: 6fr 4fr;
    }

    .flex-all-1 > * {
        flex: 1;
    }

    .blog_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

@media (min-width: 80em) {

    .blog_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
}

 